<!DOCTYPE html>
<html>
  <head>
    <title>RailsKubeDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= current_user.inspect %>
  <% if current_user %>
    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign in",  new_user_session_path%></li>
    <li><%= link_to "Sign up",  new_user_registration_path%></li>
  <% end %>
    <%= yield %>
  </body>
</html>
